@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 0;
}

/* 
white #fcfffb
dark-blue #
blue #5289aa
gold #e9ca80 
*/


body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;

}

#app{
  display: block;
  height:100vh;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #363636;
}

.center{
  display: flex;
  margin: auto;
  justify-content: center
}

/* START NAV */
nav{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: transparent;
  /* box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.5); */
}

nav ul{
  margin: 0;
  display: flex;
  list-style: none;
  margin-left: auto;
}

nav .logo a{
  margin: 0 20px;
  text-decoration: none;
  color: #363636;
}

nav .logo a:hover{
  color: #5289aa;
  transition: .2s ease-in-out;
}

nav ul li{
  margin: 0 15px;
}

nav ul li a{
  text-decoration: none;
  color: #363636;
}

nav ul li a:hover{
  color: #7abfeb;
  transition: .2s ease-in-out;
}

/* FOOTER */
footer{
  position: relative;
  height: 50px;
  background-color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* END NAV */

  .grid-container {
    display: grid;
    justify-content: center;
    /* Display as a Grid */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* repeat = as many times as you can fit */
    /* auto-fit = fit as many items on the line as possible, go bigger if you need to */
    /*minmax = (min size, max size) = the minimum size the column should be is 200px, but if there's space then give them all 1fr of that width. */
    grid-gap: 20px;
    justify-items: center;

    /* box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2); */
  }

  .container-grid{
    background-color: white;
    padding: 15px 30px;
    margin: auto;
  }

  .title-grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }

  .title-grid a{
    text-decoration: none;
    
    color: rgb(211, 209, 209);
  }

  .title-grid a:hover{
    text-decoration: underline;
    color: #5289aa;
    transition: all .3s ease;
  }


  .item {
    position: relative;
    background-color: whitesmoke;
    border: solid 0.2px #ececec;
    padding: 20px;
    border-radius: 3px;
    height: 350px;
    width: 250px;
  }

  .item:hover {
    background-color: #ececec;
    cursor: pointer;
    transition: .3s all;
  }
  
  .item img{
    height: 200px;
    width: 100%;
    object-fit: contain;
    background-color: #ececec;
    transition: all 0.5s ease;
  }

  .titlePrice{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-content: space-between;
  }

  .group-btn{
    display: grid;
    grid-template-columns: repeat(2, 80% 20%);
    column-gap: 5px;
    width: 100%;
    height: 40px;
    justify-content: space-between;
  }

  .group-btn a{
    text-decoration: none;
    background-color: transparent;
    border: solid 1px #363636;
    color: #363636;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .group-btn a:hover{
    background-color: #363636;
    color: whitesmoke;
    transition: all .3s ease-out;
  }

  .titlePrice .title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .titlePrice .price{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: end;
  }

  /* HERO */
  .hero{
    width: 100%;
    height: 500px;
    margin: auto;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 37%, rgba(0,0,0,0.65) 100%), url("/src/assets/images/hero-header.png") no-repeat center center scroll;
    background-size: cover;
  }

  /* BRANDS */
  .brands{
    width: 90%;
    margin: auto;
    padding: 20px;
  }

  .brands-list{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    flex-direction: row;
  }

  .brands-list img{
    height: 70px;
  }



/* Au niveau le plus haut du code */
@media screen and (max-width: 515px) {
    .grid-container {
        grid-template-columns: repeat(1, minmax(100%, 1fr));
        padding: 10px 50px;
        /* repeat = as many times as you can fit */
        /* auto-fit = fit as many items on the line as possible, go bigger if you need to */
        /*minmax = (min size, max size) = the minimum size the column should be is 200px, but if there's space then give them all 1fr of that width. */
        grid-gap: 20px;
      }

      .item {
        height: 100%;
      }

      .item p{
        padding: 0;
      }

      .brands-list img{
        height: 40px;
      }

      
}


/* Product Detail */
.productDetail{
  color: #363636;
  width: 60%;
  padding: 20px;
  background-color: white;
  margin: auto;
}

.productDetail .grid{
  display: grid;
  height: 500px;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.productDetail .grid .grid-item img{
  padding: 30px;
  width: 100%;
  height: 450px;
  object-fit: contain;
  background-color: whitesmoke;
}

.productDetail .grid .grid-item{
  padding: 20px;
}

.productDetail .grid .grid-item .descriptionDetail{
  color: #36363674;
}



/* Cart container */

.cartList{
  padding: 30px;
  min-height: 100%;
}
.cart-list-items{
  display: flex;
  flex-direction: column;
}

.itemCart{
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: solid 1px #363636;

  margin: 10px 0;
}

.cart-image-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 200px;
}

.cart-image-item img{
  width: 90px;
  height: 90px;
  background-color: whitesmoke;
  object-fit: cover;
}


/* Dashboard */
.dashboard{
  padding: 30px;

}

.dashboard .btn-list{
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.dashboard .btn-list a{
  text-decoration: none;
  color: #363636;
  border: solid 0.5px #363636;
  padding: 10px;
  border-radius: 8px;
}

.dashboard .btn-list a:hover{
  color: whitesmoke;
  background-color: #363636;
  transition: all 0.3s ease;
}